.container {
    background-color: #cbccd1;
}

body {
    background-color: #fff7e1;
    color: #1a1a1a;
}

title {
    color: #003366;
}

.easy-button {
    background-color: #77a8bb;
}

.normal-button {
    background-color: #ffc907;
}

.hard-button {
    background-color: #bf6c46;
}

.clean-drop {
    background-color: #ffc907;
}

.pollution-drop {
    background-color: #bf6c46;
}

.score-text {
    color: #003366;
}

.high-score-text {
    color: #ffc907;
}

.clouds {
    background-color: #ffffff;
}

.accent {
    background-color: #fed8c1;
}