.game-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, sans-serif;
}

#gameArea {
  position: relative;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  background-color: lightblue;
  margin: 20px auto;
  overflow: hidden;
}

.drop {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.clean {
  background-color: yellow;
  background-color: #ffc907;
}

.bad {
  background-color: brown;
  background-color: #bf6c46;
}